.App {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
.witcherBackOne{
  will-change: transform;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.witcherMiddleOne{
  will-change: transform;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}
.witcherFrontOne{
  will-change: transform;
  object-fit: cover;
  position: absolute;
  z-index: 3;
}
.swiper-wrapper {
  transform-style: preserve-3d;
}
img {
  background-position: center;
  box-shadow: inset 0 0 250px rgba(0,0,0,0.3);
}

img {
  width: 100%;
  height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box {
  box-sizing: border-box;
}

/*.witcherBack {*/
/*  background-repeat: no-repeat;*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*background-image:url(image/screen-1/layer-back.jpg);*/
/*}*/
/*.witcherMiddle {*/
/*  position: absolute;*/
/*  background-repeat: no-repeat;*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  background-image:url(image/screen-1/layer-middle.png);*/
/*}*/
/*.witcherFront{*/
/*  width: 100%;*/
/*  position: absolute;*/
/*  background-repeat: no-repeat;*/
/*  height: 100vh;*/
/*  background-image:url(image/screen-1/layer-front.png);*/
/*}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
